@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,700&display=swap");

.App {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
}

#login > input,
button {
  border-radius: 20px !important;
  line-height: 190% !important;
  text-align: center;
  display: flex;
}

@media (max-width: 767px) {
  #desktop {
    display: none;
  }

  .App {
    display: block;
  }
}

@media (min-width: 768px) {
  #mobile {
    display: none;
  }
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.me-auto {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.me-auto > a {
  list-style-type: none;
  text-decoration: none;
  display: block;
  padding: 20px 30px 20px 10px;
  color: black;
  font-weight: bolder;
  font-size: small;
}
